<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <style>
        .container-hidden {
            display: none;
        }
    </style>

    <title>Title</title>
</head>
<body>
<h1>Hello! Its Main page</h1>
<table border="1px">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Group Name</th>
        <th scope="col">Show team</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>

    <tbody id="groupid">
    <table border="1px" id="teamid">
    </table>
    </tbody>
</table>

<!-- edit modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-group" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-group">Edit group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/api/group/update" id="editForm" method="post">
                    <div class="form-group">
                        <label for="editGroupId" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="editGroupId" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="editGroupName" class="col-form-label">Group name</label>
                        <input type="text" class="form-control" id="editGroupName">
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="editGroupFromModal">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-group" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-group">Delete group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/api/group/delete" id="deleteForm" method="delete">
                    <div class="form-group">
                        <label for="deleteGroupId" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="deleteGroupId" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="deleteGroupName" class="col-form-label">Group name</label>
                        <input type="text" class="form-control" id="deleteGroupName" readonly="readonly">
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="deleteGroupFromModal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<script>
    $(function () {
        updateGroupList();
    })

    function updateGroupList() {
        $.ajax({
            type: 'GET',
            url: '/api/group/list',
            success: function (groupList) {
                console.log(groupList);
                groupList.forEach(group =>
                    $('#groupid').append(
                        "<tr>" +
                        "<td>" + group.id + "</td>" +
                        "<td>" + group.name + "</td>" +


                        "<td><button type='button' onclick='showTeamInGroupList(" + group.id + ")'>+</button></td>" +
                        "<td><button type='button' class=\"btn btn-primary\" onclick='editGroupFrom(" + group.id + ")'>edit</button></td>" +
                        "<td><button type='button' class=\"btn btn-danger\" onclick='deleteGroupForm(" + group.id + ")'>delete</button></td>" +
                        "</tr>"
                    ))
            }
        })
    }

    function editGroupFrom(id) {
        console.log(id);
        $.ajax({
            url: '/api/group/' + id,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            success: function (group) {
                console.log("group: " + group.name);
                $('#editGroupId').val(group.id);
                $('#editGroupName').val(group.name);
                $('#edit-modal').modal('show');
            }
        })
    }

    function deleteGroupForm(id) {
        console.log(id);
        $.ajax({
            url: '/api/group/' + id,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            success: function (group) {
                console.log("group: " + group.name);
                $('#deleteGroupId').val(group.id);
                $('#deleteGroupName').val(group.name);
                $('#delete-modal').modal('show');
            }
        })
    }

    function showTeamInGroupList(id) {
        $('#teamid').removeClass('container-hidden').empty();
        console.log('id: ' + id);
        $.ajax({
            type: 'GET',
            url: '/api/group/team/' + id,
            dataType: 'json',
            contentType: 'application/json',
            success: function (teamListInGroup) {
                console.log(teamListInGroup);
                $('#teamid').append(
                    "<tr>" +
                    "<th scope=\"col\">Team Name</th>" +
                    "<th scope=\"col\">Wins</th>" +
                    "<th scope=\"col\">Number of draws</th>" +
                    "<th scope=\"col\">Defeats</th>" +
                    "<th scope=\"col\">Sum point</th>" +
                    "<th scope=\"col\">Edit</th>" +
                    "<th scope=\"col\">Delete</th>" +
                    "<th scope=\"col\"><button type='button' onclick='closeTeamsInGroup()'>X</button></th>" +
                    "</tr>"
                )
                teamListInGroup.forEach(team =>
                    $('#teamid').append(
                        "<tr>" +
                        "<td>" + team.name + "</td>" +
                        "<td>" + getNumOfWin(team.name) + "</td>" +
                        "<td>" + getNumOfDraw(team.name) + "</td>" +
                        "<td>" + getNumOfLose(team.name) + "</td>" +
                        "<td>" + ((getNumOfWin(team.name) * 3) + getNumOfDraw(team.name)) + "</td>" +
                        "<td><button type='button' onclick='editTeam()'>Edit</button></td>" +
                        "<td><button type='button' onclick='deleteTeam()'>Delete</button></td>" +
                        "</tr>"
                    ))
            }
        })
    }

    function closeTeamsInGroup() {
        $('#teamid').addClass('container-hidden');
    }

    function getNumOfWin(name) {
        let result = 0;
        $.ajax({
            type: 'GET',
            url: '/api/game/win/team/' + name,
            async: false,
            success: function (number1) {
                result = number1;
            }
        })
        return result;
    }

    function getNumOfLose(name) {
        let result = 0;
        $.ajax({
            type: 'GET',
            url: '/api/game/lose/team/' + name,
            async: false,
            success: function (number) {
                result = number;
            }
        })
        return result;
    }

    function getNumOfDraw(name) {
        let result = 0;
        $.ajax({
            type: 'GET',
            url: '/api/game/draw/team/' + name,
            async: false,
            success: function (number) {
                result = number;
            }
        })
        return result;
    }

</script>
</body>
</html>