<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello! Its Main page</h1>
<table border="1px">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Group Name</th>
            <th scope="col">Command List</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>
        </tr>
    </thead>

    <tbody id="groups">
    </tbody>

</table>
</body>
</html>